.navbar {
  border: none;
  font-size: 1rem;
  transition: all 0.4s;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}
.navbar a {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.btn-group .btn-secondary {
  background: #868484;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

.btn-group .btn-secondary:hover {
  background: rgb(83, 80, 80);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
