<section id="networks" class="networks-container">
  <p class="section-title text-center mb-4" *ngIf="isDesktop">
    {{ "NETWORKS" | translate }}
  </p>
  <div class="text-center d-flex justify-content-md-evenly networks-icons">
    <a
      href="https://wa.me/+541163734198?text=Hola,%20quiero%20ponerme%20en%20contacto%20contigo"
      target="_blank"
    >
      <i
        class="bi bi-whatsapp"
        [ngStyle]="{ color: isDarkMode ? 'white' : 'black' }"
      ></i>
    </a>
    <a
      href="https://www.instagram.com/juanraim?utm_source=qr&igsh=YzU1NGVlODEzOA%3D%3D"
      target="_blank"
    >
      <i
        class="bi bi-instagram"
        [ngStyle]="{ color: isDarkMode ? 'white' : 'black' }"
      ></i>
    </a>
    <a href="https://github.com/JuanMRaimundo" target="_blank">
      <i
        class="bi bi-github"
        [ngStyle]="{ color: isDarkMode ? 'white' : 'black' }"
      ></i>
    </a>
    <a
      href="https://www.linkedin.com/in/juan-marco-raimundo-984924141/?originalSubdomain=ar"
      target="_blank"
    >
      <i
        class="bi bi-linkedin"
        [ngStyle]="{ color: isDarkMode ? 'white' : 'black' }"
      ></i>
    </a>
  </div>
</section>
