<div class="hero">
  <h1>{{ "WELCOME" | translate }}</h1>
  <p>{{ "EXPLORE" | translate }}</p>
</div>

<div class="container mt-5">
  <!-- Proyectos Section -->
  <section id="proyectos">
    <h2 class="text-center mb-4">{{ "PROJECTS" | translate }}</h2>
    <!-- Proyecto Angular e-learning -->

    <div *ngIf="isMobile; else desktopAngular" class="col-md-12">
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <h3>{{ "ANGULAR_PROJECT" | translate }}</h3>
        <p>{{ "ANGULAR_PROJECT_DESC" | translate }}</p>
        <a
          href="https://github.com/JuanMRaimundo/NewTrainers-Angular"
          target="_blank"
        >
          <img
            src="assets/images/AngularCursos2.png"
            class="img-fluid project-image"
            alt="Project 2"
          />
        </a>
      </div>
    </div>
    <ng-template #desktopAngular>
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <div class="col-md-6">
          <a
            href="https://github.com/JuanMRaimundo/NewTrainers-Angular"
            target="_blank"
          >
            <img
              src="assets/images/AngularCursos2.png"
              class="img-fluid project-image"
              alt="Project 2"
            />
          </a>
        </div>
        <div class="col-md-6">
          <h3>{{ "ANGULAR_PROJECT" | translate }}</h3>
          <p>{{ "ANGULAR_PROJECT_DESC" | translate }}</p>
        </div>
      </div>
    </ng-template>
    <!-- E-commerce realizado con JavaScript puro -->
    <div *ngIf="isMobile; else desktopJS" class="col-md-12">
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <h3>{{ "JS_ECOMMERCE" | translate }}</h3>
        <p>{{ "JS_ECOMMERCE_DESC" | translate }}</p>
        <a
          href="https://juanmraimundo.github.io/DulzurasBellaJS/"
          target="_blank"
        >
          <img
            src="assets/images/JS-1.jpg"
            class="img-fluid project-image"
            alt="Project 3"
          />
        </a>
      </div>
    </div>
    <ng-template #desktopJS>
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <div class="col-md-6">
          <h3>{{ "JS_ECOMMERCE" | translate }}</h3>
          <p>{{ "JS_ECOMMERCE_DESC" | translate }}</p>
        </div>
        <div class="col-md-6">
          <a
            href="https://juanmraimundo.github.io/DulzurasBellaJS/"
            target="_blank"
          >
            <img
              src="assets/images/JS-1.jpg"
              class="img-fluid project-image"
              alt="Project 3"
            />
          </a>
        </div>
      </div>
    </ng-template>

    <!-- Proyecto React e-commerce -->
    <div *ngIf="isMobile; else desktopReact" class="col-md-12">
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <h3>{{ "REACT_ECOMMERCE" | translate }}</h3>
        <p>{{ "REACT_ECOMMERCE_DESC" | translate }}</p>
        <a href="https://smsreact.netlify.app/" target="_blank">
          <img
            src="assets/images/SMS-react-1.png"
            class="img-fluid project-image"
            alt="Project 4"
          />
        </a>
      </div>
    </div>
    <ng-template #desktopReact>
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <div class="col-md-6">
          <a href="https://smsreact.netlify.app/" target="_blank">
            <img
              src="assets/images/SMS-react-1.png"
              class="img-fluid project-image"
              alt="Project 4"
            />
          </a>
        </div>
        <div class="col-md-6">
          <h3>{{ "REACT_ECOMMERCE" | translate }}</h3>
          <p>{{ "REACT_ECOMMERCE_DESC" | translate }}</p>
        </div>
      </div>
    </ng-template>

    <!-- Primer proyecto- GoForGym -->
    <div *ngIf="isMobile; else desktopHTML" class="col-md-12">
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <h3>{{ "FIRST_PROJECT" | translate }}</h3>
        <p>{{ "FIRST_PROJECT_DESC" | translate }}</p>
        <a
          href="https://juanmraimundo.github.io/ProyectoGoForGym.github.io/"
          target="_blank"
        >
          <img
            src="../../../assets/images/DW-goForGym.jpg"
            class="img-fluid project-image"
            alt="Project 4"
          />
        </a>
      </div>
    </div>
    <ng-template #desktopHTML>
      <div
        class="row mb-5 proyect-item"
        [@fadeIn]="isElementVisible ? 'visible' : 'hidden'"
        (intersectionObserver)="onIntersection($event)"
      >
        <div class="col-md-6">
          <h3>{{ "FIRST_PROJECT" | translate }}</h3>
          <p>{{ "FIRST_PROJECT_DESC" | translate }}</p>
        </div>
        <div class="col-md-6">
          <a
            href="https://juanmraimundo.github.io/ProyectoGoForGym.github.io/"
            target="_blank"
          >
            <img
              src="../../../assets/images/DW-goForGym.jpg"
              class="img-fluid project-image"
              alt="Project 4"
            />
          </a>
        </div>
      </div>
    </ng-template>
  </section>
  <app-carousel></app-carousel>
  <app-personal-skills></app-personal-skills>
  <!-- <section id="otros">
    <h2 class="text-center mb-4">
      {{ "OTHER_SKILLS" | translate }}
    </h2>
    <div class="row">
      <div class="container text-center">
        <div class="row">
          <div class="col-6">
            <h3>{{ "PERSONAL_SKILLS" | translate }}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ "AUTOLEARNING" | translate }}</li>
              <li class="list-group-item">{{ "PROACTIVE" | translate }}</li>
              <li class="list-group-item">{{ "ASSERTIVE" | translate }}</li>
              <li class="list-group-item">{{ "COMMUNICATION" | translate }}</li>
              <li class="list-group-item">
                {{ "CRITICAL_THINKING" | translate }}
              </li>
              <li class="list-group-item">
                {{ "DECISION_MAKING" | translate }}
              </li>
            </ul>
          </div>
          <div class="col-6">
            <h3>{{ "PROFESSIONAL_SKILLS" | translate }}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{ "FRONTEND_DEVELOPMENT" | translate }}
              </li>
              <li class="list-group-item">
                {{ "BACKEND_DEVELOPMENT" | translate }}
              </li>
              <li class="list-group-item">
                {{ "NON_RELATIONAL_DB" | translate }}
              </li>
              <li class="list-group-item">{{ "DIGITAL_TOOLS" | translate }}</li>
              <li class="list-group-item">
                {{ "INTERMEDIATE_ENGLISH" | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
